<%= render "shared/header" %>


<div class="container">
    <br><br><br>
    <%-#  = render "shared/test_dashboard" -%>
    <%-# = render :partial => "partials/vega.html" -%>
</div>


<div class="container" style="height: 700px;">
    <iframe class="h-100 w-100 retool-embed" src="https://snowtorch.retool.com/embedded/public/6e9fa94e-86ec-4edc-851f-6959dbfc8a69" frameborder="2" onmousewheel="" width="100%" height="100%" style="background: transparent; border: 1px solid #ccc;"></iframe>

</div>


<%= render "shared/footer" %>